This project uses https://github.com/Webflow-Examples/hybrid-app-starter as a starting template. I need you to keep the main architecture of this template and only make changes that are absolutely necassary for the project to work.